.error-fish{
	animation: mymove 2s inherit;
	position: relative;
	-webkit-animation:mymove 2s infinite;
	animation-direction:alternate;
	-webkit-animation-direction:alternate;
}
@media(min-width: 768px){
	.site-e{
		padding: 0;
	}
	.site-errorimg{
		width: 600px;
		margin:  50px auto 0;
		display: flex;
		display: -webkit-flex;
		flex-direction: column;
		align-items: center;
		padding: 0;
		position: relative;
	}
	.error-back{
		width: 76%;
	}
	.error-fish{
		width: 20%;
		position: absolute;
		top: 35%;
	}
	@keyframes mymove
	{
		from {top:35%;}
		to {top:32%;}
	}

	@-webkit-keyframes mymove /*Safari and Chrome*/
	{
		from {top:35%;}
		to {top:32%;}
	}
	.error-sea{
		width: 99%;
		opacity: .7;
		transform: translate(0, -17%);
	}
	.error-spay{
		width: 40%;
		opacity: .4;
		position: inherit;
		transform: translate(0, -200%);
	}
	.back-index{
		position: inherit;
		background-color: #007fff;
		color: #fff;
		display: block;
		font-size: 18px;
		padding: 10px 30px;
		border-radius: 5px;
		text-decoration: none;
		transform: translate(0, -160%);
	}
	.back-index:hover{
		text-decoration: none;
		color: #fff;
	}
}
@media(max-width: 768px){
	.site-errorimg{
		z-index: -1;
		width: 52rem;
		max-width: 73%;
		margin: 0 auto;
		position: relative;
		padding-top: 48%;
	}
	.site-errorimg > .error-ele{
		position: absolute;
		top: 35%;
		left: 50%;
	}
	.error-back{
		width: 76%;
		transform: translate(-50%, -50%);
	}
	.error-fish{
		width: 20.994%;
		position: absolute;
		transform: translate(-50%, 36%);
	}
	@keyframes mymove
	{
		from {top:36%;}
		to {top:32%;}
	}

	@-webkit-keyframes mymove /*Safari and Chrome*/
	{
		from {top:36%;}
		to {top:32%;}
	}
	.error-sea{
		width: 99%;
		opacity: .7;
		transform: translate(-50%, 72%);
	}
	.error-spay{
		width: 40%;
		opacity: .4;
		transform: translate(-50%, 160%);
	}
	.back-index{
		background-color: #007fff;
		color: #fff;
		display: block;
		font-size: 18px;
		padding: 10px 30px;
		border-radius: 5px;
		text-decoration: none;
		margin-top: 50px;
		text-align: center;
	}
	.back-index:hover{
		text-decoration: none;
		color: #fff;
	}
}
