.taglk_header{
	margin: 0 50px;
	border-bottom: 1px solid #ddd;
	position: relative;
	height: 50px;
	display: block;
}
.taglk_header span{
	display: inline-block;
	border-bottom: 2px solid #32d3c3;
	height: 50px;
	line-height: 50px;
	color: #666;
}
@media (min-width: 768px) {
	.taglk_header .search{
		position: absolute;
		right: 0;
		border: 1px solid #dae0ef;
	    background-color: transparent;
	    display: flex;
	    border-radius: 15px;
	    align-items: center;
	    padding: 1px 10px;
	    height: 30px;
	    margin-top: 10px;
	}
	.taglk_header .search input{
		border: none;
	    color: #666;
	    background-color: transparent;
	    font-size: 13px;
	    padding-right: 2px;
	    width: 180px;
	    line-height: 28px;
	}
	.post-list{
		margin: 5px 50px 0;
	}
	.post-list div{
		flex-wrap: wrap;
		display: flex;
		-webkit-box-direction: normal;
		justify-content:space-between;
	}
	.post{
		background-color: #fff;
		margin-top: 15px;
		box-sizing: border-box;
		border: 2px solid #fff;
		width: calc(50% - 10px);
		padding: 25px 30px 15px;
	}
	.post-with-tags a{
		color: #2a2935;
		font-size: 18px;
	}
	.post-meta{
		padding: 10px 0;
		color: #aaa;
	}
}