.navbar-jue{
  background-color: #2a2935;
  position: fixed;
  padding: 0;
  margin: 0;
  left: 0;
  top: 0;
}
.navbar{
  border-radius: 0 !important;
}
.navbar-header{
  background-color: #1e1d26;
}
.navbar-menu > li > a {
  padding-left: 15px;
  line-height: 25px;
  font-size: 16px;
  color: #999 !important;
}
.navbar-jue .navbar-brand:hover,
.navbar-jue .navbar-brand:focus {
    text-decoration: none;
    color: #32d3c3;
}

@media (min-width: 768px) {
  .navbar-jue{
    width: 15%;
    height: 100%;
    -webkit-box-flex: 0;
    width: 15%;
    flex: 0 0 15%;
  }
  .navbar-header{
    position: fixed;
    width: 15%;
    margin: 0 !important;
    left: 0;
    top: 0;
    font-size: 15px;
  }
  .navbar-brand{
    margin: 0  !important;
    width: 100%;
    font-size: 15px;
    text-align: center;
  }
  .navbar-collapse.collapse{
    position: fixed;
    width: 15%;
    margin: 0 !important;
    left: 0;
    top: 75px;
    font-size: 15px;
    padding: 0;
  }
  .navbar-menu{
    width: 100%;
    margin: 0 !important;
    text-align: right;
  }
  .wrap{
    margin-top: 0 !important;
  }
  .jue-content{
    margin: 0 0 0 15%;
  }
  .navbar-jue .navbar-menu > li{
    border-right: 4px solid transparent;
  }
  .navbar-jue .navbar-menu > li.active {
    border-right: 4px solid #32d3c3;
  }
  .navbar-jue .navbar-nav > li > a {
    color: #555;
  }
  .navbar-jue .navbar-menu > li > a:hover,
  .navbar-jue .navbar-menu > li > a:focus {
    background-color: transparent;
  }
  .navbar-jue .navbar-menu > .active > a,
  .navbar-jue .navbar-menu > .active > a:hover,
  .navbar-jue .navbar-menu > .active > a:focus {
    color: #32d3c3 !important;
    background-color: #26252f;
  }
}
@media (max-width: 768px) {
  .wrap{
    padding-top: 50px;
  }
  .navbar-jue{
    height: 50px;
    width: 100%;
  }
  .navbar-header{
    position: fixed;
    top: 0;
    width: 100%;
  }
  .navbar-toggle{
    margin-right: 5px !important;
    padding: 10px 10px !important;
  }
  .icon-bar{
    background-color: #32d3c3;
    height: 1px !important;
    line-height: 10px;
  }
  .navbar-collapse{
    position: fixed;
    width: 100%;
    margin: 0 !important;
    left: 0;
    top: 50px;
    font-size: 15px;
    padding: 0;
  }
  .navbar-jue .navbar-nav > li{
    border-bottom: 1px solid transparent;
    margin-top: -1px;
  }
  .navbar-toggle{
    margin-right: 5px !important;
  }
  .navbar-menu{
    margin: 0;
    background-color: #fff;
  }
  .navbar-menu > li:nth-child(2){
    display: none;
  }
  .navbar-menu > li:nth-child(3){
    display: none;
  }

  .jue-content{
    padding: 0 15px;
  }
  .icon-bar{
    background-color: #32d3c3 !important;
  }
  .navbar-jue .navbar-menu > li{
    border-bottom: 1px solid #ddd;
  }
  .navbar-jue .navbar-menu > li.active {
    border-bottom: 1px solid #32d3c3;
  }
  .navbar-jue .navbar-nav > li > a {
    color: #555;
  }
  .navbar-jue .navbar-menu > li > a:hover,
  .navbar-jue .navbar-menu > li > a:focus {
    background-color: transparent;
  }
  .navbar-jue .navbar-menu > .active > a,
  .navbar-jue .navbar-menu > .active > a:hover,
  .navbar-jue .navbar-menu > .active > a:focus {
    color: #32d3c3 !important;
    background-color: #fff;
  }
}
.navbar-inverse .navbar-text {
  color: #9d9d9d;
}

.navbar-inverse .navbar-nav > .disabled > a,
.navbar-inverse .navbar-nav > .disabled > a:hover,
.navbar-inverse .navbar-nav > .disabled > a:focus {
  color: #444;
  background-color: transparent;
}
.navbar-inverse .navbar-toggle {
  border-color: #333;
}
.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
  background-color: #333;
}
.navbar-inverse .navbar-toggle .icon-bar {
  background-color: #fff;
}
.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
  border-color: #101010;
}
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
  color: #fff;
  background-color: #080808;
}

@media (max-width: 768px) {
  
  .navbar-inverse .navbar-nav .open .dropdown-menu > .dropdown-header {
    border-color: #080808;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu .divider {
    background-color: #080808;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
    color: #9d9d9d;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #fff;
    background-color: transparent;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #fff;
    background-color: #080808;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #444;
    background-color: transparent;
  }
}
.navbar-inverse .navbar-link {
  color: #9d9d9d;
}
.navbar-inverse .navbar-link:hover {
  color: #fff;
}
.navbar-inverse .btn-link {
  color: #9d9d9d;
}
.navbar-inverse .btn-link:hover,
.navbar-inverse .btn-link:focus {
  color: #fff;
}
.navbar-inverse .btn-link[disabled]:hover,
fieldset[disabled] .navbar-inverse .btn-link:hover,
.navbar-inverse .btn-link[disabled]:focus,
fieldset[disabled] .navbar-inverse .btn-link:focus {
  color: #444;
}
