.wrap{
    background-color: #f4f4f4;
}
@media (min-width: 1080px) {
    .post-detail{
        width: 700px;
        margin: 0 auto;
    }
    .detail-post{
        margin-top: 50px;
        text-align: center;
        margin-bottom: 10px;
    }
    .artical-title{
        text-align: center;
        border-bottom: 1px solid #999;
        padding-bottom: 15px;
    }
    .title{
        color: #2a2935;
        font-size: 3.2rem;
        font-weight: 600;
    }
    .post-detail > img{
        max-width: 100%;
    }
    .info{
        color: #999;
        margin-top: 15px;
        font-size: 12px;
    }
    .artical-content{
        line-height: 25px;
        color: #444;
        word-break: normal;
        padding: 30px 0;
    }
    .artical-content h1{
        font-size: 1.6em;
        font-weight: bold;
    }
    .artical-content h2{
        font-size: 1.45em;
        font-weight: bold;
    }
}
@media (max-width: 768px) {
    .post-detail{
        width: 100%;
        margin: 0 auto;
    }
    .detail-post{
        margin-top: 20px;
        text-align: center;
        margin-bottom: 10px;
    }
    .artical-title{
        text-align: center;
        border-bottom: 1px solid #999;
        padding-bottom: 15px;
    }
    .title{
        color: #2a2935;
        font-size: 1.7rem;
        font-weight: 600;
    }
    .post-detail > img{
        max-width: 100%;
    }
    .info{
        color: #999;
        margin-top: 15px;
        font-size: 12px;
    }
    .artical-content{
        line-height: 25px;
        color: #444;
        word-break: normal;
        padding: 20px 0;
    }
    .artical-content h1{
        font-size: 1.6em;
        font-weight: bold;
    }
    .artical-content h2{
        font-size: 1.45em;
        font-weight: bold;
    } 
}

.pop-bd{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 999;
    background-color: #333;
    opacity: .4;
}
.select-img{
    background-color: #00b7ee;
    padding: 8px 20px 10px;
    color: #fff;
    font-size: 18px;
    margin-top: 50px;
    border-radius: 5px;
    cursor: pointer;
}
.jue-imglists{
    position: relative;
    list-style: none;
    margin-top: 20px;
}
.pop-wrap{
    position: fixed;
    top: 50%;
    bottom: 3%;
    width: 686px;
    height: 540px;
    margin-top: -270px;
    left: 50%;
    margin-left: -369px;
    background-color: #fff;
    padding: 0;
    z-index: 9999;
    border-radius: 5px;
}
.popwrap-header{
    background: transparent;
    height: 50px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:  10px 20px 0;
}
.popwrap-header .check-img{
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    color: #444;
}
.jue-desktop-dialog{
    background: transparent;
    line-height: 1.6;
    height: 18px;
    width: 18px;
    border: none;
    outline: none;
    color: #444;
}
.popwrap-inner{
    position: relative;
}
.popwrap-inner-hd{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 10px 14px;
    border-bottom: 1px solid #e7e7eb;
}
.popupload-img{
    background-color: #44b549;
    color: #fff;
    border-color: #44b549;
    display: inline-block;
    overflow: visible;
    padding: 0 22px;
    height: 32px;
    line-height:30px;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    font-size: 14px;
    border-width: 1px;
    border-style: solid;
    cursor: pointer;
    float: right;
}
.popwrap-img-lists{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding: 0 10px 7px;
    margin-bottom: 30px;
    position: relative;
    height: 359px;
    overflow: auto;
    justify-content: flex-start;
    align-content: flex-start;
    border-bottom: 1px solid #e7e7eb; 
    z-index: 1000;
}
.popwrap-img-lists > li{
    width: 124px;
    padding: 0;
    position: relative;
    float: left;
    text-align: center;
    margin-top: 10px;
    margin: 10px 4px 0;
}
.popwrap-img-lists > li> label{
    position: relative; 
    border: 1px solid #e7e7eb; 
    width: 124px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    cursor: pointer;
    display: inline-block;
}
.jue_pic{
    width: 124px;
    height: 124px;
    overflow: hidden;
    position: relative;
    border-bottom: 1px solid #e7e7eb; 
}
.popwrap-img-lists > li > label > .jue_pic > img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
span.jueimg_name{
    height: 32px;
    line-height: 32px;
    padding: 0 9px;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 14px;
    font-weight: 500;
}
::-webkit-scrollbar  
{  
    width: 6px;  
    height: 8px;  
    background-color: #fff;  
}  
  
/*定义滚动条轨道 内阴影+圆角*/  
::-webkit-scrollbar-track  
{  
    background-color: #fff;  
}  
  
/*定义滑块 内阴影+圆角*/  
::-webkit-scrollbar-thumb  
{  
    -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,.3);  
    background-color: #e6e8eb;  
} 
.juepopwrap-ft-desc{
    position: absolute;
    bottom: -70px;
    left: 20px;
}
.popwrap-fd{
    background-color: transparent;
    padding: 0;
    line-height: 75px;
    position: relative;
    margin: 0;
    text-align: center;
    margin-top: -30px;
}
.popwrap-fd .btn-input{
    margin-left: 10px;
    margin-right: 10px;
    display: inline-block;
    vertical-align: middle;
    padding: 0;
    height: 35px;
    line-height: 33px;
}
.btn-input button{
    display: block;
    background-color: transparent;
    border: 0;
    outline: 0;
    height: 100%;
    width: 100%;
    overflow: visible;
    padding: 0 30px;
}
.js-btn{
    background: none
    border:none;
    outline: none;
}
.btn-disabled{
    background-color: #e7e7eb !important;
    border-color: #dadbe0 !important;
    color: #a5a6aa !important;
    cursor: default !important;
}
.btn-primary{
    background-color: #44b549;
    border-color: #44b549;
    color: #fff;
}
.btn-primary:hover{
    background-color: #228B22;
    border-color: #228B22;
    color: #fff;
}
.btn-primary:focus {
    background-color: #228B22 !important;
    border-color: #228B22 !important;
    color: #fff !important;
}
.btn-primary:active {
    background-color: #006400 !important;
    border-color: #006400 !important;
    color: #fff !important;
}
.btn-default:hover{
    background-color: #e6e8eb;
    border-color: #d4d4d4;
}
.img-item-bd.selected .selected_mask{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.img-item-bd.selected .selected_mask_inner{
    height: 124px;
    width: 124px;
    opacity: .6;
    background-color: #000;
}
.img-item-bd.selected .selected_mask-icon{
    position: absolute;
    top: 0;
    left: 0;
    background: transparent url(/frontend/web/statics/image/icon_card_selected3a7b38.png) no-repeat 0 0;
    width: 124px;
    height: 124px;
    vertical-align: middle;
    display: inline-block;
    background-position: 50% 50%;
}

.jue-imglist{
    border: 2px dashed #D6D6D6;
    padding: 10px;
    margin-top: 30px;
    flex-wrap: wrap;
    display: flex;
    -webkit-box-direction: normal;
    justify-content:space-between;
}
.jue-imglist > li{
    width: calc(50% - 10px);
    border: 1px solid red;
}
.jue-imglist > li > img{
    width: 100%;
    border: 1px solid #E8E8E8;
}

.jue-checktech{
    margin-top: 30px;
}
.juestart-testimg{
    background-color: #00b7ee;
    padding: 8px 20px 10px;
    color: #fff;
    font-size: 18px;
    margin-top: 50px;
    border-radius: 5px;
    cursor: pointer;
}
